#####################
#   up 01/03/18     #
#   abou            #
#####################

!.gitignore

#phpstorm project folder
/.idea/

#no ssh/composer in my ovh server
!vendor

#symfony/framework-bundle
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/.*

#Logs
!var/log/.gitkeep

#symfony/phpunit-bridge
.phpunit
/phpunit.xml

#symfony/web-server-bundle
/.web-server-pid
