#####################
#   up 01/03/18     #
#   abou            #
#####################

!.gitignore

#phpstorm project folder
/.idea/

#personal template
!vendor/symfony/twig-bridge/Resources/views/Form/materialize_layout.html.twig

#symfony/framework-bundle
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/vendor
/var/
/.*

#Logs
!var/log/.gitkeep

#symfony/phpunit-bridge
.phpunit
/phpunit.xml

#symfony/web-server-bundle
/.web-server-pid
