{% extends 'admin/admin.new.html.twig' %}

{% block title %}Admin - {{ result.slug }}{% endblock %}

{% block stylesheets %}
    <!--@ckeditor-->
    <script src="../ckeditor4/ckeditor.js"></script>
{% endblock %}


{% block headercontent %}
    <div class="col s12 header-info">
        <div class="col s12 divider pink-p"></div>

        <div class="col s12 right-align paramBlog">
            <span class="badge art tooltipped" data-position="bottom" data-tooltip="Identifiant">{{ result.id }}</span>
            <span class="badge art tooltipped" data-position="bottom" data-tooltip="Status">{% if result.status %}En ligne{% else %}Caché{% endif %}</span>
            <span class="badge art tooltipped" data-position="bottom" data-tooltip="Slug">{{ result.slug }}</span>
            <span class="badge art tooltipped" data-position="bottom" data-tooltip="Création">{{ result.date }}</span>
        </div>

        <div class="col s12 divider pink-p divider-bottom"></div>
    </div>
{% endblock %}
