<!--  _____ ______   ________      ___    ___ ________  ________      ___    ___
     |\   _ \  _   \|\   __  \    |\  \  /  /|\   ___ \|\   __  \    |\  \  /  /|
     \ \  \\\__\ \  \ \  \|\  \   \ \  \/  / | \  \_|\ \ \  \|\  \   \ \  \/  / /
      \ \  \\|__| \  \ \   __  \   \ \    / / \ \  \ \\ \ \   __  \   \ \    / /
       \ \  \    \ \  \ \  \ \  \   \/  /  /   \ \  \_\\ \ \  \ \  \   \/  /  /
        \ \__\    \ \__\ \__\ \__\__/  / /      \ \_______\ \__\ \__\__/  / /
         \|__|     \|__|\|__|\|__|\___/ /        \|_______|\|__|\|__|\___/ /
                                 \|___|/                            \|___|/-->
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135638937-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-135638937-1');
        </script>

        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <!-- @seo -->
        <META NAME="Description" CONTENT="Alan Bouteiller Dévellopeur Back End, Front End et passioné">
        <META NAME="Keywords" CONTENT="alan, bouteiller, alan bouteiller, dev, développement, blog, back, front, back-end, front-end, angers, debian, php, html, javascript, symfony, css, python, web">

        <!-- @Google Icon Font -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- @materialize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- @personal style -->
        <link type="text/css" rel="stylesheet" href="../css/style_gen.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../css/custom_style_materialize.css"  media="screen,projection"/>
        <!-- @prism -->
        <link type="text/css" rel="stylesheet" href="../css/prism.css"/>
        <!--favicon-->
        <link rel="icon" type="image/png" href="img/scope.jpg" />

        {% block stylesheets %}{% endblock %}

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
        {% block header %}{% endblock %}


        <div id="nav">
            {% block nav %}
            <!--navbar-->
            <nav class="pushpin pin-bottom" data-target="nav" id="spy">
                <div class="nav-wrapper pushpin" data-target="top">
                    <a href="#" class="brand-logo center">mayday<span class="blink">_</span></a>
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="left hide-on-med-and-down">
                        <li><a href="#je_fait">Je fais</a></li>
                        <li><a href="#je_suis">Je suis</a></li>
                        <li><a href="#a_propos">A propos</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#note">Notes</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </nav>

            <!--Mobile structure-->
            <ul class="sidenav" id="slide-out">
                <li><a href="#je_fait">Je fais</a></li>
                <li><a href="#je_suis">Je suis</a></li>
                <li><a href="#a_propos">A propos</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#note">Notes</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <!--navbar end-->
            {% endblock %}

            {% block body %}{% endblock %}

            {% block footer %}
                <!--Footer-->
                <div class="row footer">
                    <div class="col s12 center-align">
                        <div class="col s4 offset-s4 divider pink-p"></div>
                        <p><i>That's all folks!</i></p>
                    </div>
                    <div class="col s12 center-align">
                        <p>© Alan Bouteiller - 2019</p>
                    </div>
                </div>
                <!--Footer end-->
            {% endblock %}

            <!--Action button-->
            <div class="fixed-action-btn hide" id="btn-spy">
                <a class="btn-floating btn-large backGreen waves-effect waves-light" href="#home">
                    <i class="large material-icons">arrow_drop_up</i>
                </a>
            </div>

        </div>

        <!--JavaScript-->
        <!--@Jquery-->
        <script type="text/javascript" src="../js/jquery.js"></script>
        <!--@materialize-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!--@marked-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.1/marked.min.js"></script>
        <!--@prism component-->
        <script type="text/javascript" src="../js/prism.js"></script>
        <!--@materialize component-->
        <script type="text/javascript" src="../js/init.js"></script>
        <!--@custom component and object-->
        <script type="text/javascript" src="../js/custom.js"></script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
