{% extends 'base.html.twig' %}

{% block nav %}

    <!--navbar-->
    <nav id="spy">
        <div class="nav-wrapper" data-target="top">
            <a href="#" class="brand-logo center">mayday<span class="blink">_</span></a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li><a href="{{ path('home') }}"><i class="material-icons">reply</i></a></li>
            </ul>
        </div>
    </nav>

    <!--Mobile structure-->
    <ul class="sidenav" id="slide-out">
        <li><a href="{{ path('home') }}"><i class="material-icons">reply</i></a></li>
    </ul>
    <!--navbar end-->

{% endblock %}

{% block title %}{% endblock %}

{% block body %}{% endblock %}
